<table class="bordered responsive-table">
	<thead>
		<tr>
			<th></th>
			<th>Concepto</th>
			<th>Valor Unitario</th>
			<th>Cantidad</th>
			<th>Valor Total</th>
			<th>Periodo</th>
			<th>Porcentaje</th>
		</tr>
	</thead>
	<tbody>
		{{#each utilidades}}
		<tr>
			<td>
				<input type="checkbox" name="productSelection">
				<label for="productSelection"></label>
			</td>
			<td>{{concepto}}</td>
			<td>{{unitario}}</td>
			<td>{{cantidad}}</td>
			<td>{{total}}</td>
			<td>{{periodo}}</td>
			<td>{{porcentaje}}</td>
		</tr>
		{{/each}}
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th>Utilidad</th>
			<th>$169.398.691</th>
			<th>15.001.168</th>
			<th>$33.880</th>
			<th></th>
			<th>43%</th>
		</tr>
	</tfoot>
</table>