<table class="bordered responsive-table">
	<thead>
		<tr>
			<th></th>
			<th>Trabajador</th>
			<th>Salario</th>
			<th>Auxilio de Transporte</th>
			<th>Comision</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		{{#each liquidacion}}
		<tr>
			<td>
				<input type="checkbox" name="productSelection">
				<label for="productSelection"></label>
			</td>
			<td>{{trabajador}}</td>
			<td>{{salario}}</td>
			<td>{{auxilio}}</td>
			<td>{{auxilio}}</td>
			<td>{{total}}</td>
		</tr>
		{{/each}}
	</tbody>
	<tfoot>
		<tr>
			
		</tr>
	</tfoot>
</table>